<div class="row">
  <div class="col s3">
    <ul class="collection with-header">
      <li class="collection-header">
        <a class="collection"><span class="badge">Balance</span>Employees</a>
      </li>
      <app-user
        *ngFor="let u of users"
        [user]="u"
      ></app-user>
    </ul>
    <div class="col s12">
      <a (click)="onClick()" class="btn-floating btn-middle waves-effect waves-light red right">
        <i class="material-icons">add</i>
      </a>
    </div>
    <div class="add_employee" *ngIf="added">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="first_name" type="text" class="validate" #first_name>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" #last_name>
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s8">
              <i class="material-icons prefix">business</i>
              <input id="company" type="tel" class="validate" #company>
              <label for="company">Company</label>
            </div>
            <div class="input-field col s4">
              <a (click)="addEmployee(first_name.value, last_name.value, company.value)"
                 class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Add</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col s1"></div>


  <div class="col s7">
    <p>{{ transactions | groupBy: 'id' }}</p>
    <!--<app-transaction-->
      <!--*ngFor="let tr of transactions | groupBy: 'id'"-->
      <!--[transactions]="tr"-->
    <!--&gt;</app-transaction>-->
  </div>
</div>
