<!--<div class="collection">
  <a class="collection-item"><span class="badge"><span
    class="green-text text-darken-2">{{ user.amount }}</span></span>{{ user.name }}</a>
</div>-->
<!--<div class="collection">
  <a class="collection-item"><span class="badge"><span
    class="green-text text-darken-2">{{ user.amount }}</span></span>{{ user.name }}</a>
</div>-->

<!--<tr>
  <td>{{ user.name }}</td>
  <td>{{ user.amount }}</td>
</tr>-->


<!--
<tr>
  <td>Alvin</td>
  <td>Eclair</td>
  <td>$0.87</td>
</tr>
-->

<li class="collection-item">
    <a class="collection-item"><span class="badge">{{ user.amount }}</span>{{ user.name }}</a>
</li>
